/*Reset*/
* {
    margin: 0;
    padding: 0;
}

/*Padronização*/
:root {
    --branco: #FFFFFF;
    --cor-fundo: #0E1014;
    --roxo: #9747FF;
    --roxo-rover: #8233E8;
    --fonte-principal: 'Poppins';
    --fonte-secundaria: 'Unbounded';
}

/*Estilo Desktop*/
body {
    background-color: var(--cor-fundo);
    color: var(--branco);
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-size: 64px;
    color: var(--branco);
    font-family: var(--fonte-secundaria), sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

span {
    color: var(--roxo);
}

p {
    font-family: var(--fonte-principal), sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 24px auto 0;
}

a {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 24px;
    text-decoration: none;
    background-color: var(--roxo);
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover {
    background-color: var(--roxo-rover);
}

section img {
    display: block;
    width: 744px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px){

    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }

}

@media(max-width: 375px){

   header img {
        margin: 32px 0 0 16px;
   }

   h1 {
        font-size: 40px;
   }

   p {
        font-size: 20px;
        width: 340px;
   }

   a {
        width: 251px;
        font-size: 20px;
   }

   section img {
        width: 340px;
        height: 230px;
   }
}